* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(50, 142, 203, 0.966), rgb(255, 255, 255));
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

section.setting {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
}

label {
    display: block;
    margin-bottom: 8px;
}

select, input[type="checkbox"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    width: auto;
}

.form-footer {
    text-align: center;
}

button {
    background-color: #49adff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}
